In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('./dataset/loan_approval_dataset.csv')

In [20]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [21]:
df = pd.get_dummies(df,columns=[' education',' self_employed',' loan_status'],drop_first=True)

In [4]:
df[' self_employed'].unique()

array([' No', ' Yes'], dtype=object)

In [22]:
df.describe()
df.corr()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_ Not Graduate,self_employed_ Yes,loan_status_ Rejected
loan_id,1.000000,0.005326,0.012592,0.008170,0.009809,0.016323,0.020936,0.018595,-0.000862,0.010765,-0.015536,0.001745,-0.017685
no_of_dependents,0.005326,1.000000,0.007266,-0.003366,-0.020111,-0.009998,0.007376,-0.001531,0.002817,0.011163,-0.002697,0.000765,0.018114
income_annum,0.012592,0.007266,1.000000,0.927470,0.011488,-0.023034,0.636841,0.640328,0.929145,0.851093,-0.011625,0.002368,0.015189
loan_amount,0.008170,-0.003366,0.927470,1.000000,0.008437,-0.017035,0.594596,0.603188,0.860914,0.788122,-0.010631,0.001450,-0.016150
loan_term,0.009809,-0.020111,0.011488,0.008437,1.000000,0.007810,0.008016,-0.005478,0.012490,0.017177,0.008417,0.004107,0.113036
cibil_score,0.016323,-0.009998,-0.023034,-0.017035,0.007810,1.000000,-0.019947,-0.003769,-0.028618,-0.015478,0.004649,-0.004866,-0.770518
residential_assets_value,0.020936,0.007376,0.636841,0.594596,0.008016,-0.019947,1.000000,0.414786,0.590932,0.527418,-0.010930,0.006144,0.014367
commercial_assets_value,0.018595,-0.001531,0.640328,0.603188,-0.005478,-0.003769,0.414786,1.000000,0.591128,0.548576,0.006763,-0.017998,-0.008246
luxury_assets_value,-0.000862,0.002817,0.929145,0.860914,0.012490,-0.028618,0.590932,0.591128,1.000000,0.788517,-0.012471,0.004413,0.015465
bank_asset_value,0.010765,0.011163,0.851093,0.788122,0.017177,-0.015478,0.527418,0.548576,0.788517,1.000000,-0.009424,-0.000215,0.006778
education_ Not Graduate,-0.015536,-0.002697,-0.011625,-0.010631,0.008417,0.004649,-0.010930,0.006763,-0.012471,-0.009424,1.000000,0.023224,0.004918
self_employed_ Yes,0.001745,0.000765,0.002368,0.001450,0.004107,-0.004866,0.006144,-0.017998,0.004413,-0.000215,0.023224,1.000000,-0.000345
loan_status_ Rejected,-0.017685,0.018114,0.015189,-0.016150,0.113036,-0.770518,0.014367,-0.008246,0.015465,0.006778,0.004918,-0.000345,1.000000

In [7]:
df_ = df.head(10)

In [12]:
df__ = df_.to_dict('index')

In [13]:
df__

{0: {'loan_id': 1,
  ' no_of_dependents': 2,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 9600000,
  ' loan_amount': 29900000,
  ' loan_term': 12,
  ' cibil_score': 778,
  ' residential_assets_value': 2400000,
  ' commercial_assets_value': 17600000,
  ' luxury_assets_value': 22700000,
  ' bank_asset_value': 8000000,
  ' loan_status': ' Approved'},
 1: {'loan_id': 2,
  ' no_of_dependents': 0,
  ' education': ' Not Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 4100000,
  ' loan_amount': 12200000,
  ' loan_term': 8,
  ' cibil_score': 417,
  ' residential_assets_value': 2700000,
  ' commercial_assets_value': 2200000,
  ' luxury_assets_value': 8800000,
  ' bank_asset_value': 3300000,
  ' loan_status': ' Rejected'},
 2: {'loan_id': 3,
  ' no_of_dependents': 3,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 9100000,
  ' loan_amount': 29700000,
  ' loan_term': 20,
  ' cibil_score': 506,
  ' residential_assets_value': 7100000,
  ' commercial_assets_value': 4500000,
  ' luxury_assets_value': 33300000,
  ' bank_asset_value': 12800000,
  ' loan_status': ' Rejected'},
 3: {'loan_id': 4,
  ' no_of_dependents': 3,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 8200000,
  ' loan_amount': 30700000,
  ' loan_term': 8,
  ' cibil_score': 467,
  ' residential_assets_value': 18200000,
  ' commercial_assets_value': 3300000,
  ' luxury_assets_value': 23300000,
  ' bank_asset_value': 7900000,
  ' loan_status': ' Rejected'},
 4: {'loan_id': 5,
  ' no_of_dependents': 5,
  ' education': ' Not Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 9800000,
  ' loan_amount': 24200000,
  ' loan_term': 20,
  ' cibil_score': 382,
  ' residential_assets_value': 12400000,
  ' commercial_assets_value': 8200000,
  ' luxury_assets_value': 29400000,
  ' bank_asset_value': 5000000,
  ' loan_status': ' Rejected'},
 5: {'loan_id': 6,
  ' no_of_dependents': 0,
  ' education': ' Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 4800000,
  ' loan_amount': 13500000,
  ' loan_term': 10,
  ' cibil_score': 319,
  ' residential_assets_value': 6800000,
  ' commercial_assets_value': 8300000,
  ' luxury_assets_value': 13700000,
  ' bank_asset_value': 5100000,
  ' loan_status': ' Rejected'},
 6: {'loan_id': 7,
  ' no_of_dependents': 5,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 8700000,
  ' loan_amount': 33000000,
  ' loan_term': 4,
  ' cibil_score': 678,
  ' residential_assets_value': 22500000,
  ' commercial_assets_value': 14800000,
  ' luxury_assets_value': 29200000,
  ' bank_asset_value': 4300000,
  ' loan_status': ' Approved'},
 7: {'loan_id': 8,
  ' no_of_dependents': 2,
  ' education': ' Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 5700000,
  ' loan_amount': 15000000,
  ' loan_term': 20,
  ' cibil_score': 382,
  ' residential_assets_value': 13200000,
  ' commercial_assets_value': 5700000,
  ' luxury_assets_value': 11800000,
  ' bank_asset_value': 6000000,
  ' loan_status': ' Rejected'},
 8: {'loan_id': 9,
  ' no_of_dependents': 0,
  ' education': ' Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 800000,
  ' loan_amount': 2200000,
  ' loan_term': 20,
  ' cibil_score': 782,
  ' residential_assets_value': 1300000,
  ' commercial_assets_value': 800000,
  ' luxury_assets_value': 2800000,
  ' bank_asset_value': 600000,
  ' loan_status': ' Approved'},
 9: {'loan_id': 10,
  ' no_of_dependents': 5,
  ' education': ' Not Graduate',
  ' self_employed': ' No',
  ' income_annum': 1100000,
  ' loan_amount': 4300000,
  ' loan_term': 10,
  ' cibil_score': 388,
  ' residential_assets_value': 3200000,
  ' commercial_assets_value': 1400000,
  ' luxury_assets_value': 3300000,
  ' bank_asset_value': 1600000,
  ' loan_status': ' Rejected'}}