In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./dataset/loan_approval_dataset.csv')

In [3]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [4]:
df[' self_employed'].unique()

array([' No', ' Yes'], dtype=object)

In [5]:
df.describe()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

In [7]:
df_ = df.head(10)

In [12]:
df__ = df_.to_dict('index')

In [13]:
df__

{0: {'loan_id': 1,
  ' no_of_dependents': 2,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 9600000,
  ' loan_amount': 29900000,
  ' loan_term': 12,
  ' cibil_score': 778,
  ' residential_assets_value': 2400000,
  ' commercial_assets_value': 17600000,
  ' luxury_assets_value': 22700000,
  ' bank_asset_value': 8000000,
  ' loan_status': ' Approved'},
 1: {'loan_id': 2,
  ' no_of_dependents': 0,
  ' education': ' Not Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 4100000,
  ' loan_amount': 12200000,
  ' loan_term': 8,
  ' cibil_score': 417,
  ' residential_assets_value': 2700000,
  ' commercial_assets_value': 2200000,
  ' luxury_assets_value': 8800000,
  ' bank_asset_value': 3300000,
  ' loan_status': ' Rejected'},
 2: {'loan_id': 3,
  ' no_of_dependents': 3,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 9100000,
  ' loan_amount': 29700000,
  ' loan_term': 20,
  ' cibil_score': 506,
  ' residential_assets_value': 7100000,
  ' commercial_assets_value': 4500000,
  ' luxury_assets_value': 33300000,
  ' bank_asset_value': 12800000,
  ' loan_status': ' Rejected'},
 3: {'loan_id': 4,
  ' no_of_dependents': 3,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 8200000,
  ' loan_amount': 30700000,
  ' loan_term': 8,
  ' cibil_score': 467,
  ' residential_assets_value': 18200000,
  ' commercial_assets_value': 3300000,
  ' luxury_assets_value': 23300000,
  ' bank_asset_value': 7900000,
  ' loan_status': ' Rejected'},
 4: {'loan_id': 5,
  ' no_of_dependents': 5,
  ' education': ' Not Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 9800000,
  ' loan_amount': 24200000,
  ' loan_term': 20,
  ' cibil_score': 382,
  ' residential_assets_value': 12400000,
  ' commercial_assets_value': 8200000,
  ' luxury_assets_value': 29400000,
  ' bank_asset_value': 5000000,
  ' loan_status': ' Rejected'},
 5: {'loan_id': 6,
  ' no_of_dependents': 0,
  ' education': ' Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 4800000,
  ' loan_amount': 13500000,
  ' loan_term': 10,
  ' cibil_score': 319,
  ' residential_assets_value': 6800000,
  ' commercial_assets_value': 8300000,
  ' luxury_assets_value': 13700000,
  ' bank_asset_value': 5100000,
  ' loan_status': ' Rejected'},
 6: {'loan_id': 7,
  ' no_of_dependents': 5,
  ' education': ' Graduate',
  ' self_employed': ' No',
  ' income_annum': 8700000,
  ' loan_amount': 33000000,
  ' loan_term': 4,
  ' cibil_score': 678,
  ' residential_assets_value': 22500000,
  ' commercial_assets_value': 14800000,
  ' luxury_assets_value': 29200000,
  ' bank_asset_value': 4300000,
  ' loan_status': ' Approved'},
 7: {'loan_id': 8,
  ' no_of_dependents': 2,
  ' education': ' Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 5700000,
  ' loan_amount': 15000000,
  ' loan_term': 20,
  ' cibil_score': 382,
  ' residential_assets_value': 13200000,
  ' commercial_assets_value': 5700000,
  ' luxury_assets_value': 11800000,
  ' bank_asset_value': 6000000,
  ' loan_status': ' Rejected'},
 8: {'loan_id': 9,
  ' no_of_dependents': 0,
  ' education': ' Graduate',
  ' self_employed': ' Yes',
  ' income_annum': 800000,
  ' loan_amount': 2200000,
  ' loan_term': 20,
  ' cibil_score': 782,
  ' residential_assets_value': 1300000,
  ' commercial_assets_value': 800000,
  ' luxury_assets_value': 2800000,
  ' bank_asset_value': 600000,
  ' loan_status': ' Approved'},
 9: {'loan_id': 10,
  ' no_of_dependents': 5,
  ' education': ' Not Graduate',
  ' self_employed': ' No',
  ' income_annum': 1100000,
  ' loan_amount': 4300000,
  ' loan_term': 10,
  ' cibil_score': 388,
  ' residential_assets_value': 3200000,
  ' commercial_assets_value': 1400000,
  ' luxury_assets_value': 3300000,
  ' bank_asset_value': 1600000,
  ' loan_status': ' Rejected'}}